entrypoint = "freelessPrincipal.js"
modules = ["nodejs-18:v3-20230608-f4cd419"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-23_05"

[deployment]
run = "npm start"
deploymentTarget = "cloudrun"
ignorePorts = false

[auth]
pageEnabled = false
buttonEnabled = false

[[ports]]
localPort = 3000
externalPort = 80
